<div class="info-main-container">
    <div class="city-container">
        <span class="material-symbols-outlined">
            flight_takeoff
        </span>
        <span class="city-name">
            {{origin}}
        </span>
    </div>
    <div class="passangers-container">
        <span class="material-symbols-outlined">
            person
        </span>
        <span class="seats-number">
            {{passengers}}
        </span>
    </div>
    <div class="city-container">
        <span class="material-symbols-outlined">
            flight_land
        </span>
        <span class="city-name">
            {{destination}}
        </span>
    </div>
</div>