.info-main-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    margin-bottom: 3rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
}

.city-container,.passangers-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.city-container span,.passangers-container span{
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 .5rem;
    font-size: 1.5rem;
    font-weight: 400;
}