<fieldset  class="flex-column flex-center" [formGroup]="flightForm" >
    <legend>Flight Information</legend>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>
                Origen
            </mat-label>

            <input matInput type="text"
            formControlName="departureCityControl"
            >

            <mat-icon matSuffix>flight_takeoff</mat-icon>

            <mat-error *ngIf="departureCityControl!.invalid && (departureCityControl!.dirty || departureCityControl!.touched)">
                <mat-error *ngIf="departureCityControl!.errors?.['required']">Campo obligatorio</mat-error>
                <mat-error *ngIf="departureCityControl!.errors?.['pattern']">El nombre de la ciudad solo debe contener letras</mat-error>
            </mat-error>

        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Destino</mat-label>

            <input matInput type="text"
            formControlName="arrivalCityControl"
            >

            <mat-icon matSuffix>flight_land</mat-icon>

            <mat-error *ngIf="arrivalCityControl!.invalid && (arrivalCityControl!.dirty || arrivalCityControl!.touched)">
                <mat-error *ngIf="arrivalCityControl!.errors?.['required']">Campo obligatorio</mat-error>
                <mat-error *ngIf="arrivalCityControl!.errors?.['pattern']">El nombre de la ciudad solo debe contener letras</mat-error>
            </mat-error>

        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>
                Fecha de salida
            </mat-label>

            <input matInput [matDatepicker]="departureDate"
            formControlName="departureDateControl"
            [min]="minDate"
            [max]="maxDate"
            >
            
            <mat-datepicker-toggle matIconSuffix [for]="departureDate"></mat-datepicker-toggle>
            <mat-datepicker #departureDate></mat-datepicker>

            <mat-error *ngIf="departureDateControl!.invalid && (departureDateControl!.dirty || departureDateControl!.touched)">
                <mat-error *ngIf="departureDateControl!.errors?.['matDatepickerMin']">La fecha debe ser mayor a {{minDate | date}}</mat-error>
                <mat-error *ngIf="departureDateControl!.errors?.['matDatepickerMax']">La fecha debe ser menor a {{maxDate | date}}</mat-error>
                <mat-error *ngIf="departureDateControl!.errors?.['required']">Campo obligatorio</mat-error>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>
                Fecha de llegada
            </mat-label>

            <input matInput [matDatepicker]="arrivalDate"
            formControlName="arrivalDateControl"
            [min]="minDate"
            [max]="maxDate"
            >

            <mat-datepicker-toggle matIconSuffix [for]="arrivalDate"></mat-datepicker-toggle>
            <mat-datepicker #arrivalDate></mat-datepicker>

            <mat-error *ngIf="arrivalDateControl!.errors && (arrivalDateControl?.dirty || arrivalDateControl?.touched)">
                <mat-error *ngIf="arrivalDateControl!.errors?.['matDatepickerMin']">La fecha debe ser mayor a {{minDate | date}}</mat-error>
                <mat-error *ngIf="arrivalDateControl!.errors?.['matDatepickerMax']">La fecha debe ser menor a {{maxDate | date}}</mat-error>
                <mat-error *ngIf="arrivalDateControl!.errors?.['required']">Campo obligatorio</mat-error>
            </mat-error>
        </mat-form-field>
    </div>

    <div>
        <mat-hint>
            Hora de salida
        </mat-hint>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>
                    HH
                </mat-label>

                <input matInput type="text" placeholder="Ej:14"
                formControlName="departureHoursControl"
                >

                <mat-error *ngIf="departureHoursControl!.invalid && (departureHoursControl!.dirty || departureHoursControl!.touched)">
                    <mat-error *ngIf="departureHoursControl!.errors?.['required']">Campo obligatorio</mat-error>
                    <mat-error *ngIf="departureHoursControl!.errors?.['pattern']">El campo solo debe contener numeros</mat-error>
                    <mat-error *ngIf="departureHoursControl!.errors?.['min']">La hora mínima es 00</mat-error>
                    <mat-error *ngIf="departureHoursControl!.errors?.['max']">La hora máxima es 23</mat-error>	
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>
                    MM
                </mat-label>

                <input matInput type="text" placeholder="Ej:35"
                formControlName="departureMinutesControl"
                >

                <mat-error *ngIf="departureMinutesControl!.invalid && (departureMinutesControl!.dirty || departureMinutesControl!.touched)">
                    <mat-error *ngIf="departureMinutesControl!.errors?.['required']">Campo obligatorio</mat-error>
                    <mat-error *ngIf="departureMinutesControl!.errors?.['pattern']">El campo solo debe contener numeros</mat-error>
                    <mat-error *ngIf="departureMinutesControl!.errors?.['min']">Los minutos mínimos son 00</mat-error>
                    <mat-error *ngIf="departureMinutesControl!.errors?.['max']">Los minutos máximos son 59</mat-error>
                </mat-error>
            </mat-form-field>
        </div>
    </div>

    <div>
        <mat-hint>
            Hora de llegada
        </mat-hint>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>
                    HH
                </mat-label>

                <input matInput type="text" placeholder="Ej:15"
                formControlName="arrivalHoursControl"
                >

                <mat-error *ngIf="arrivalHoursControl!.invalid && (arrivalHoursControl!.dirty || arrivalHoursControl!.touched)">
                    <mat-error *ngIf="arrivalHoursControl!.errors?.['required']">Campo obligatorio</mat-error>
                    <mat-error *ngIf="arrivalHoursControl!.errors?.['pattern']">El campo solo debe contener numeros</mat-error>
                    <mat-error *ngIf="arrivalHoursControl!.errors?.['min']">La hora mínima es 00</mat-error>
                    <mat-error *ngIf="arrivalHoursControl!.errors?.['max']">La hora máxima es 23</mat-error>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>
                    MM
                </mat-label>

                <input matInput type="text" placeholder="Ej:50"
                formControlName="arrivalMinutesControl"
                >

                <mat-error *ngIf="arrivalMinutesControl!.invalid && (arrivalMinutesControl!.dirty || arrivalMinutesControl!.touched)">
                    <mat-error *ngIf="arrivalMinutesControl!.errors?.['required']">Campo obligatorio</mat-error>
                    <mat-error *ngIf="arrivalMinutesControl!.errors?.['pattern']">El campo solo debe contener numeros</mat-error>
                    <mat-error *ngIf="arrivalMinutesControl!.errors?.['min']">Los minutos mínimos son 00</mat-error>
                    <mat-error *ngIf="arrivalMinutesControl!.errors?.['max']">Los minutos máximos son 59</mat-error>
                </mat-error>
            </mat-form-field>
        </div>
    </div>

    <div>
        <mat-form-field appearance="fill">
            <mat-label>
                Avion Id
            </mat-label>

            <input matInput type="text" placeholder="Ej:1"
            formControlName="planeIdControl"
            >

            <mat-error *ngIf="planeIdControl!.invalid && (planeIdControl!.dirty || planeIdControl!.touched)">
                <mat-error *ngIf="planeIdControl!.errors?.['required']">Campo obligatorio</mat-error>
            </mat-error>
        </mat-form-field>
    </div>

    <button (click)="onClick()">Crear Vuelo</button>
    <mat-hint *ngIf="flightCreated" > ¡Vuelo creado con éxito! </mat-hint>
</fieldset>