<main class="flex-column">
    <h1>Pagos</h1>
    <section>
        <p>
            Nos complace informarle que en nuestra página web tiene la opción de realizar el pago de su reserva de forma inmediata o posponerlo para más tarde. Si desea realizar el pago en este momento, encontrará un enlace o botón de pago disponible en nuestra plataforma, donde podrá completar la transacción de manera segura y rápida.
        </p>
        <p>
            Por otro lado, si prefiere consultar la reserva antes de realizar el pago, puede utilizar el ID de cualquier persona asociada a la misma. En nuestra página web, encontrará una sección de consultas donde puede ingresar el ID correspondiente para acceder a los detalles de la reserva. Una vez revisada la información, podrá decidir si desea realizar el pago en ese momento o seleccionar una fecha posterior más conveniente para usted.
        </p>
        <p>
            Si tiene alguna pregunta o inquietud, no dude en contactarnos. Estaremos encantados de ayudarle.
        </p>
    </section>
    <section>
        <h2>Precio total</h2>
        <p>
            El precio total de la reserva es de <!-- <strong>{{ total }}</strong> --> COP.
        </p>
    </section>
    <div class="button-container flex-column flex-center">
        <button>
            Pagar
        </button>
    </div>
</main>
