<mat-spinner class="mat-spinner-color" *ngIf="false"></mat-spinner>
<a class="flight-container" *ngIf="flightInput" (click)="onClick()">
    <div class="hour-city-container">
        <div class="hour-container">
            <span class="hour">{{getFormattedHour(flightInput.fechaHoraSalida)}}</span>
        </div>
        <div class="city-container">
            <span class="city">{{flightInput.origen}}</span>
        </div>
    </div>
    <div class="flight-duration-container">
        <span>{{getFormattedDate(flightInput.fechaHoraSalida)}}</span>
        <span>Duración</span>
        <div class="time-container">
            <span class="flight-duration-hours">0 h</span>
            <span class="flight-duration-minutes">57 min</span>
        </div>
    </div>
    <div class="hour-city-container">
        <div class="hour-container">
            <span class="hour">{{getFormattedHour(flightInput.fechaHoraLlegada)}}</span>
        </div>
        <div class="city-container">
            <span class="city">{{flightInput.destino}}</span>
        </div>
    </div>
</a>
