<div class="flight-container">
    <div class="hour-city-container">
        <div class="hour-container">
            <span class="hour">7:05 a.m</span>
        </div>
        <div class="city-container">
            <span class="city">Cali</span>
        </div>
    </div>
    <div class="flight-duration-container">
        <span class="flight-duration-hours">0 h</span>
        <span class="flight-duration-minutes">57 min</span>
    </div>
    <div class="hour-city-container">
        <div class="hour-container">
            <span class="hour">8.09 a.m</span>
        </div>
        <div class="city-container">
            <span class="city">Bogotá</span>
        </div>
    </div>
</div>
