li{
    list-style: none;
}

.basic-info{
    background-color: #fff;
    width: 25rem;
    height: 50rem;
}

.basic-info__title{
    width: 100%;
    color: #1B0088;
    font-family: sans-serif;
    font-weight: 300;
    margin:.5rem 0 1rem 2rem;
}

.basic-info__items{
    width: 100%;
}

.item__icon_container{
    aspect-ratio: 1/1;
    width: 3.5rem;
    background-color: #eeedf9;
    border-radius: 50%;
}

.item__icon_container--shoping-cart{
    background-color: #4658df;
}

.item__icon--shoping-cart path{
    fill: #fff;
}

.basic-info__item{
    width: 70%;
    border: .12rem solid #eeedf9;
    border-radius: .5rem;
    padding: .2rem;
}

.item__title{
    color: #15004f;
}

.column-type{
    display: flex;
    flex-direction: column;
}

.row-type{
    display: flex;
    flex-direction: row;
}

.space-evenly{
    justify-content: space-evenly;
}

p,h1,h2,h3{
    margin: 0;
}

.flex-center{
   align-items: center;
   justify-content: center; 
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.gap-1{
    gap: 1rem;
}