<ul class="seat-info">
    <li class="seat-info__item">
        <div class="seat-info__row-column">
            <span class="seat-info__row">{{seatDTOInput.row}}</span>
            <span class="seat-info__column">{{seatDTOInput.column}}</span>
        </div>
        <p class="seat-info__passenger">Pasajero 1</p>
        <p class="seat-info__price">COP {{seatDTOInput.price}}</p>
        <button class="seat-info__delete-seat-button">
            <mat-icon>close</mat-icon>
        </button>
    </li>
</ul>
