<fieldset>
    <legend>Datos del pasajero</legend>
    <div class="forms-container">
        <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput>
            <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Apellido</mat-label>
            <input matInput>
            <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Correo</mat-label>
            <input matInput>
            <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>No. Cédula</mat-label>
            <input matInput>
            <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
    </div>
    <button mat-raised-button color="primary">Guardar</button>
</fieldset>
