<fieldset class="flex-column flex-column-horizontally-centered"
[formGroup]="passengerForm">
    <legend>Pasajero {{index +1}}</legend>
    <div class="forms-container">
        <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput type="text"
            formControlName="namesControl">
            <mat-hint *ngIf="namesControl!.invalid && (namesControl!.dirty || namesControl!.touched)">
                <mat-hint *ngIf="namesControl!.errors?.['pattern']" >Solo digite letras</mat-hint>   
                <mat-hint *ngIf="namesControl!.errors?.['required']" >Campo obligatorio</mat-hint>
            </mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Apellido</mat-label>
            <input matInput type="text"
            formControlName="lastNamesControl">
            <mat-hint *ngIf="lastNamesControl!.invalid && (lastNamesControl!.dirty || lastNamesControl!.touched)">
                <mat-hint *ngIf="lastNamesControl!.errors?.['pattern']" >Solo digite letras</mat-hint>   
                <mat-hint *ngIf="lastNamesControl!.errors?.['required']" >Campo obligatorio</mat-hint>
            </mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Correo</mat-label>
            <input matInput type="text"
            formControlName="emailControl">
            <mat-hint *ngIf="emailControl!.invalid && (emailControl!.dirty || emailControl!.touched)">
                <mat-hint *ngIf="emailControl!.errors?.['pattern']" >Correo inválido</mat-hint>   
                <mat-hint *ngIf="emailControl!.errors?.['required']" >Campo obligatorio</mat-hint>
            </mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>No. Cédula</mat-label>
            <input matInput type="email"
            formControlName="idControl">
            <mat-hint *ngIf="idControl!.invalid && (idControl!.dirty || idControl!.touched)">
                <mat-hint *ngIf="idControl!.errors?.['pattern']" >Digite entre 7 y 10 números</mat-hint>   
                <mat-hint *ngIf="idControl!.errors?.['required']" >Campo obligatorio</mat-hint>
            </mat-hint>
        </mat-form-field>
    </div>
    <button mat-raised-button color="primary" [disabled]="formCompleted" (click)="onSubmit()">Guardar</button>
    <mat-hint *ngIf="wrongForm">Por favor, rellene todos los campos correctamente</mat-hint>
</fieldset>
