<main class="flex-row flex-gap flex-row-horizontally-centered">
    <div class="forms-container flex-column flex-short-gap">
        <h1 class="forms-container__title">Pasajeros</h1>
        <app-passenger-forum *ngFor="let selectedSeat of selectedSeats;index as i"
        [index]="i"></app-passenger-forum>
    </div>
    <div class="basic-info-container flex-column flex-column-horizontally-centered">
        <app-basic-info></app-basic-info>
        <button (click)="onClick()">Continuar</button>
        <mat-hint *ngIf="hint">Formularios incompletos o incorrectos</mat-hint>
    </div>
</main>