form{
    position: relative;
    width: 100%;
    gap: 1.1rem;
}

mat-error{
    white-space: nowrap;
}

button.close-button{
    background:none;
    border:none;
    position: absolute;
    top: 0;
    right: -2rem;
    cursor: pointer;
}

button.save-button{
    width: 10rem;
    height: 2.5rem;
    margin: .5rem 0;
    border: solid 1.5px #e8114b;
    border-radius: .5rem;
    background-color: #fff;
    color: #e8114b;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    transition: all .08s ease-in-out;
}

button.save-button:hover{
    background-color: #e95879;
    color: #fff;
    cursor: pointer;
}

button.save-button:active{
    background-color: #b20f3a;
    color: #fff;
}

button.save-button:disabled{
    pointer-events: none;
    opacity: 0.5;
}


.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-center{
    justify-content: center;
    align-items: center;
}
