<fieldset class="flex-column flex-column-center-horizontally" 
        [formGroup]="checkFlightsForm">
    <legend>
        <h1>Check Flights</h1>
    </legend>
    <div class="flex-row flex-center">
        <mat-form-field appearance="fill">
            <mat-label>Ciudad de Origen</mat-label>
            <input matInput type="text"
            id="departureCity"
            #departureCity
            formControlName="departureCityControl" 
            placeholder="Ej: Cali"
            [matAutocomplete]="departureAuto"
            (input)="search(departureCity.value)">
            <mat-autocomplete autoActiveFirstOption #departureAuto="matAutocomplete">
                <mat-option *ngFor="let city of departureCities$ | async" [value]="city">
                  {{city}}
                </mat-option>
              </mat-autocomplete>
            <mat-hint *ngIf="departureCityControl!.invalid &&(departureCityControl!.dirty || departureCityControl!.touched)">
                <mat-hint *ngIf="departureCityControl!.errors?.['pattern']" >Solo digite letras</mat-hint>   
                <mat-hint *ngIf="departureCityControl!.errors?.['required']" >Campo obligatorio</mat-hint>   
            </mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Ciudad de Destino</mat-label>
            <input matInput type="text"
            formControlName="arrivalCityControl" 
            placeholder="Ej: Bogotá"
            [matAutocomplete]="arrivalAuto">
            <mat-autocomplete autoActiveFirstOption #arrivalAuto="matAutocomplete">
                <mat-option *ngFor="let city of arrivalCities$ | async" [value]="city">
                  {{city}}
                </mat-option>
              </mat-autocomplete>
            <mat-hint *ngIf="arrivalCityControl!.invalid && (arrivalCityControl!.dirty || arrivalCityControl!.touched)">
                <mat-hint *ngIf="arrivalCityControl!.errors?.['pattern']" >Solo digite letras</mat-hint>   
                <mat-hint *ngIf="arrivalCityControl!.errors?.['required']" >Campo obligatorio</mat-hint>
            </mat-hint>
        </mat-form-field>
    </div>
    <button (click)="onButtonClicked()">
        Consultar
    </button>

</fieldset>
