<div class="plane">
    <div class="plane__left-seats-column">
        <p class="plane__column-indicator">A</p>
        <p class="plane__column-indicator">B</p>
<!--         <app-seat 
        *ngFor="let seat of leftColumnSeats$ | async"
        [seatInput]="seat"></app-seat> -->
    </div>
    <div class="plane__right-seats-column">
        <p class="plane__column-indicator">C</p>
        <p class="plane__column-indicator">D</p>
<!--         <app-seat *ngFor="let seat of rightColumnSeats$ | async"
        [seatInput]="seat"></app-seat> -->
    </div>
</div>
