@import '~@angular/material/prebuilt-themes/indigo-pink.css';
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

fieldset{
    display: flex;
    border: none;
}
mat-form-field{
    margin: 1rem;
}